{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/header.css' %}">
  <title>{% if title %} {{ title }} {% else %} Libra {% endif %}</title>
  {% block template_styles %}{% endblock template_styles %}
</head>
<body>
  {% include 'app/def/header.html' %}

  {% block content %}{% endblock content %}
</body>
</html>