.header__body {
  display: grid;
  grid-template: [start] "logo nav auth" 1fr [row-end]/3fr 6fr 3fr;
  padding: 1rem 0;
  align-items: center;
}
.header__logo {
  grid-area: logo;
  text-transform: uppercase;
  font-weight: 700;
}
.header__logo :not(span) {
  color: #A69CAC;
  display: inline;
}
.header__nav {
  grid-area: nav;
  place-self: center;
}
.header__auth {
  grid-area: auth;
  justify-self: right;
}

.nav__link {
  text-transform: uppercase;
  margin: 0 0.5rem 0 0;
  font-weight: 500;
  color: #0D0C1D;
}
.nav__link:last-child {
  margin: 0;
}

.auth__user {
  text-transform: uppercase;
}

@media screen and (width < 640px) {
  .header__body {
    grid-template: [start] "logo auth" [row2] "nav nav" auto [row-end]/1fr 1fr;
    gap: 0.5rem;
  }
  .nav {
    background-color: black;
    width: 100%;
    padding: 0.5rem;
  }
  .nav__link {
    color: #ffffff;
  }
}