$clr-orange: #e69d58;
$clr-quartz: #A69CAC;
$clr-violet: #474973;
$clr-oxford-blue: #161B33;
$clr-rich-black: #0D0C1D;
$clr-white: #ffffff;
$clr-white-2: #e9e9e9;
$clr-red: #ff2b07;

$style-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;